<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="LocalIP1" value="192.168.1.10"></add>
    <add key="LocalPort1_YK" value="60061"></add>
    <add key="LocalPort1_YC" value="60060"></add>

    <add key="LocalIP2" value="192.168.1.105"></add>
    
    <add key="Server_CRTa_Ip" value="192.168.1.157"></add>
    <add key="Server_CRTa_Port" value="3020"></add>
    <add key="Server_CRTa_Port2" value="3070"></add>   
    
    <add key="Client_USRP_Ip" value="192.168.1.105"></add>


    
    <add key="LockTime" value="10"></add>
    <add key="YKLogLine" value="200"></add>
    <add key="KcmdPath" value="D:\H07_YKYC\H07_YKYC\bin\Release\K令码表\Tdebug401_test.bin"></add>  
  </appSettings>
</configuration>
